<nav>
  <div class="container">
    <div class="all">
      <div class="logo">
      <h2 routerLink="/">Qusai-Market</h2>
    </div>

    <div class="links" [class.is-open]="openMenu" [style.display]="display">
      <a href="" [style.display]="display" routerLink="/" >Products </a>
      <a href="" [style.display]="display" routerLink="/carts">Carts</a>
    </div>

    <div class="burger" (click)="onClick()">
      <i
        class=""
        aria-hidden="true"
        id=" menu-icon"
        [className]="className"
      ></i>
    </div>
  </div>
  </div>




</nav>


