.footer{
  position: fixed;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  padding: 14px;
  background-color:rgb(0, 85, 255);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  bottom: 0;
  top: 100%;
}
